.App {
  background-color: rgb(235, 235, 235);
  height: 100vh;
}

.container {
  max-width: 500px !important;
}

.delete-btn {
  color: rgb(173, 173, 173);
  cursor: pointer;
}

.delete-btn:hover {
  color: rgb(219, 42, 42);
}

.todo-unchecked {
  margin-right: 15px;
  color: rgb(173, 173, 173);
  cursor: pointer;
}

.todo-checked {
  margin-right: 15px;
  cursor: pointer;
}

.toogle-text {
  color: rgb(148, 148, 148);
}
